<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
        }

        .red {
            border: 1px red solid;
        }

        .green {
            border: 1px green solid;
        }

        .banner {
            height: 500px;
            background: url('./banner.jpg') center center no-repeat;
            padding: 20px;
        }

        .about-sign-in {
            height: 80px;
            width: 100%;
            text-align: right;
        }

        .about,
        .sign-in {
            margin-top: 20px;
            padding: 7px 15px;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 25px;
            border-radius: 20px;
            border: 2px green solid;
            color: green;
        }

        /* hover about sign-in  */
        .about:hover {
            text-decoration: underline;
            text-decoration: color(srgb red green blue);
        }

        .sign-in:hover {
            text-decoration: underline;
        }

        .logo {
            background: url('./hapoERP.png') center center no-repeat;
            margin-top: 40px;
            height: 100px;
        }

        .text {
            text-align: center;
            margin-top: 30px;
        }

        .btn-start-now {
            text-align: center;
        }

        .banner .btn-start-now button {
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px green solid;
            margin-top: 25px;
            cursor: pointer;
        }

        .left,
        .center,
        .right {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin: 20px 0;
        }

        .text span {
            display: block;
            font-size: 20px;
        }

        img {
            width: 30px;
            height: 30px;
        }
    </style>
</head>

<body>
    <div class="banner">
        <div class="about-sign-in">
            <a class="about" href="">About us</a>
            <a class="sign-in" href="">Signin</a>
        </div>
        <div class="logo">

        </div>
        <div class="content-center">
            <div class="left">
                <img src="./icon-gift.svg" alt="">
                <span>Better</span>
            </div>
            <div class="center">
                <img src="./icon-clock.svg" alt="">
                <span>Faster</span>
            </div>
            <div class="right">
                <img src="./icon-like.svg" alt="">
                <span>Together</span>
            </div>
        </div>
        <div class="text">
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
        </div>
        <div class="btn-start-now">
            <button>Start now</button>
        </div>
    </div>
    <section></section>
    <section></section>
</body>

</html>